@use "../../partials/typography" as *;
@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;


.hero{
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    width: 60%;
    margin:3rem auto;
    &__img {
        // width: 200px;
        // position: absolute;
        // top: 90px;
    }
    &__h1 {
        position:relative;

    }
}