@use "../../partials/typography" as *;
@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;


.hero{
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    width: 60%;
    background-image: url("../../data/images/login-background.jpg");
    background-size: contain no-repeat;
    background-position: 25% 90%;
    margin:3rem auto;
    font-family: "Titillium";
    font-style: italic;
    &__header {
        position:relative;
        color: rgb(17, 10, 10);
        text-shadow: 2px 4px 3px rgba(235, 235, 235, 0.3);
    }
}