@use '../../partials/variables' as *;
@use '../../partials/mixin' as *;

.singlecom {
    padding: 0.5rem;
    width: 100%;
    margin: auto;
    position: relative;
        @include tablet {
            width: 70%;

        }
    &-prop{
        padding-left: 1rem;
    }

    &-avatar{
        overflow: hidden;
        @include avatarMobile;
        min-width: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        background-image: url("../../data/images/default.png");
        background-size: cover;
    }
    &__image{
        width: 100px;
        height: 50px;
        object-fit: cover;
    }
    &__comment{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid $mist;
        padding: 2rem;
        border-radius: 5px;
        background-color: white;
        height: auto;
        @include tablet {
            flex-direction: row;
        }
    }
    &-left{
        display: flex;
    }
    &-right{
        border-radius: 1px solid $cloud;
        margin: 0px;
    }
    &__elem{
        margin: 0px;
        font-weight: 600;
        position: relative;
        bottom: 8px;
    }
    &__date{
        position: absolute;
        right: 24px;
        top: 4px;
        display: none;
        color: $cloud;
        @include tablet {
            display: block;
        }
    }

    &__del{
        position: absolute;
        width: 1.5rem;
        right: 24px;
        bottom: 24px;
        &:hover{
            transform: scale(1.2);
            filter: invert(26%) sepia(76%) saturate(7471%) hue-rotate(355deg) brightness(99%) contrast(128%);
          
          }
    }
}