.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &-Top{
        display: flex;
    }
    &-wrapper{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url("../../../data/images/default.png");
        background-size: cover;
    }
    &__Img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
    &__Text{
        padding: 10px;
        border-radius: 20px;
        background-color: #667e9e;
        color: white;
        max-width: 300px;
    }
    &__Bottom{
        font-size: 12px;
        margin-top: 10px;
    }


  }
  
  
  .message.own .message__Text{
    background-color: #83b8b8;

  }
  
  .message.own {
     align-items: flex-end;
      color: black;
  }