@use "../../partials/typography" as *;
@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;



.main {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    height: 100%;
    // background-color: #FFFFFF;
    // height: auto;
    // min-height: 400px;
    // max-height: 700px;
    // margin: auto auto;
    // border-radius: 4rem;
    // box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    // @include tablet {
    //     width: 50%;
    // }
    // @include desktop {
    //     width: 30%;
    // }
}
.body {
    // font-family: 'Ubuntu', sans-serif;
    // height: 130%;
    // width: 100vw;
    // position: absolute;
    // background-image: url('../../data/images/login-background.jpg');
    // overflow-x: hidden;
}
.sign {
    display: flex;
    justify-content: center;
    font-size: 23px;
    padding-top: 1rem;
    &__logo{
        margin: auto;
        @include bold;
    
    }


}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nametext {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);

    text-align: center;
    margin-bottom: 27px;
}

.form {
    width: 100%;
    @include tablet {
        padding: 40px 0;
        width: 50%;
    }
    &-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
}

.pass {
     width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);

    text-align: center;
    margin-bottom: 27px;
}


    .nametext:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__submit {
        text-decoration: none;
        cursor: pointer;
        text-shadow: 0px 0px 3px blanchedalmond;
        color: grey;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        text-align: center;
        font-weight: 700;
        border: none;
        margin-bottom: 20px;
        transition:background-color 0.7s ;

        &:hover {
            transform: scale(1.1);
            background-color: skyblue;
        }

      }


      &__signup {
        text-decoration: none;
        cursor: pointer;
        text-shadow: 0px 0px 3px blanchedalmond;
        color: grey;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        text-align: center;
        font-weight: 700;
        border: none;
        margin-bottom: 20px;
        transition:background-color 0.7s ;

        &:hover {
            transform: scale(1.1);
            background-color: skyblue;
        }
      }
      }
      
      .signForm {
          display: flex;
          flex-direction: column;
          align-items: center;
      }



      .sinput{
          width: 100%;
          display: flex;
          justify-content: center;
        &__boxes{
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            text-align: center;
            margin-bottom: 27px;
        }
      }