@use '../../../partials/variables' as *;

.quotes {
    background-color: white;
    color: $primary-aqua;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem 0rem 1rem;
    width: 43vw;
    height: 30vh;
    margin-left: 1rem;
    box-sizing: border-box;
}
.quotes__text {
    font-size: 1rem;
}

.quotes__header {
    border-bottom: 1px solid $primary-blue;
    padding-bottom: 0.5rem;
}
