@use '../../../partials/variables' as *;

.timer {
    display: flex;
    flex-direction: column;
    background-color: $beige;
    border: 2px solid $primary-blue;
    border-radius: 0.5rem;
    align-items: center;
    width: 43vw;
    margin-bottom: 1.5rem;
    &__title {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: black;
        border-bottom: 1px solid $primary-blue;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    &__time {
        font-size: 2.5rem;
        font-weight: 700;
        color: whitesmoke;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    &__button {
        background-color: $cooler;
        border: 2px solid $primary-blue;
        border-radius: 0.5rem;
        color: whitesmoke;
        font-size: 1.2rem;
        width: 6rem;
        font-weight: 600;
        padding: 6px;
        margin: 4px;
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
}
