
@use "../../partials/typography" as *;
@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;


.messenger {
    height: 100vh;
    display: flex;

    &-chatMenu {
        flex: 3.5;
        padding: 10px;
        background-color: $cool;
        margin: 10px;
        border-radius: 4px;
        &-wrapper{
            overflow-y: scroll;
            height: 100%;
        }
        &__input {
            width: 90%;
            padding: 10px 0;
            border: none;
            border-bottom:1px solid gray ;
        }
    }
    &-chatBox {
        flex: 5.5;
        padding: 10px;
        background-color: whitesmoke;
        position: relative;
        bottom: 20px;
        border-radius: 5px;
        &-wrapper{
            display: flex;
            flex-direction: column;
            padding: 10px;
            height: 100%;
        }
        
        &-Top {
            overflow-y: scroll;
            height: 100%;
            padding-right: 10px;
        }

        &-Bottom{
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-message {
                width: 80%;
                height: 90px;
                padding: 10px;
            }

            &__button {
                width: 70px;
                height: 40px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: teal;
                color: white;
            }
        }
    }
    &-chatOnline {
        flex: 3.5;
        padding: 10px;
        background-color: $cool;
        margin: 10px;
        border-radius: 4px;
        &__header{
         padding: 10px;   
         border-bottom: 1px solid slategray;
        }
    }
}

.defaulttext{
    text-align: center;
    margin: auto;
}