@use '../../partials/mixin' as *;
@use '../../partials/variables' as *;

.input{
    display: flex;
    justify-content: center;
    &__field {
        resize: none;
    }
}

.post {
    margin: 10px;
    padding: 10px;
    border:1px solid black;
}

.feed {
    padding: 16px;
    background-color: $light-grey;
    @include tablet {
        padding: 30px;
    }
}