@use '../../partials/variables' as *;
@use '../../partials/mixin' as *;

.post {
    background-color: $smoke;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin: 2rem 10px;
    @include tablet {
        flex-direction: row;
        height: 12rem;

    }
    &-standup{
        min-width: 200px;
        border:2px solid $cloud;
        padding: 16px;
        border-radius: 4px;
        margin:18px 0px;
        background-color: $cool;
        position: relative;

        @include tablet {
            margin:0 10px;
            flex-grow: 4;
        }
        &__show{
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            bottom: -15px;
            background-color: $mist;
        }
    }
    &-buttons{
        display: flex;
        position: absolute;
        top: -23px;
        left: -20px;

    }
    &-avatarname{
        display: flex;
        padding-bottom: 40px;
        justify-content: space-between;
        font-weight: 700;
        border-bottom: 1px solid $charcoal;
    }
    &-avatar{
        overflow: hidden;
        @include avatarMobile;
        min-width: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        background-image: url("../../data/images/default.png");
        background-size: cover;
    }
    &-image{
        width: 50px;
        height: 50px;
    }
    &-left{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0px;
        justify-content: space-between;
        border:2px solid $cloud;
        padding: 16px;
        background-color: $beige;
        
        @include tablet {
           width: 250px;
        }
       

        &-bottom{
            bottom: 0px;
            display: flex;
            flex-direction: column;
            @include tablet {

            }
            &__icons{
                display: flex;
                justify-content: space-between;
                padding-top: 18px;
            }
            &__edit{
                width: 1.5rem;
                &:hover{
                    transform: scale(1.1);
                    filter: invert(27%) sepia(87%) saturate(2133%) hue-rotate(215deg) brightness(96%) contrast(87%);
                  }
                padding-bottom: 2px;
                position: relative;
            }
            &__del{
                width: 1.5rem;
                &:hover{
                    transform: scale(1.2);
                    filter: invert(26%) sepia(76%) saturate(7471%) hue-rotate(355deg) brightness(99%) contrast(128%);
                  
                  }
            }
            &__like {
                width: 1.5rem;
                &:hover{
                    transform: scale(1.1);
                    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
                  }
            }
            &__para{
                margin: 0px;
            }
            &__name{
                margin: 0px;
                font-size: 18px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                overflow: hidden;
                text-shadow: 0px 2px 0 rgb(223, 227, 229), 3px 1px 0 rgba(0, 0, 0, 0.25);
                color: #3f3f3f;
                border-bottom: 1px solid $cloud;
            }
     
     
        }
    }
}

.schedulePost{
    display: flex;
    overflow: scroll;
    flex-direction: column;
    border:1px solid grey;
    padding: 10px;
    background-color: rgb(207, 115, 115);
    border-radius: 5px;
    &-span{
        padding: 4px 0;
        border-bottom: 1px solid rgb(134, 88, 88);
        display: flex;
        justify-content: center;
        &__spans{
            padding: 0 18px;
            font-weight: 700;
            color: $smoke;
        }
    }
    &__list{
        display: flex;
        height: 30px;
        padding: 10px 0 0;
        justify-content: space-between;
    }

    &__time{
        padding:0 10px;
        border: 1px solid $primary-blue;
        width: 3.5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: $smoke;
        border-radius: 4px;
        min-height: 1rem;

    }
    &__activity{
        padding:0 10px;
        border: 1px solid $secondary-blue;
        overflow: hidden;
        width: 3.5rem;
        text-align: center;
        justify-content: center;
            background-color: $smoke;
        border-radius: 4px;
        min-height: 1rem;
    }
    &__header{
        margin: 0 1rem;
        text-align: center;
        color: $smoke;
        padding-bottom: 8px;
        border-bottom: 1px solid rgb(134, 88, 88);
    }
}

.checked{
    position: absolute;

    &__img{
        width: 4rem;
        @include tablet {
            width: 12rem;

        }
    }
}