// Colors
$instock-black: #131B2C;
$slate : #5C667E;
$graphite: #232940;
$green: #158463;
$instock-indigo: #2E66E5;
$cloud:#BDC5D5;
$light-grey:#F7F8F9;
$red: #C94515;
$white: #FFFFFF;

$charcoal: #464646;
$mist: #c4c4bc;
$smoke: #f4f4f4;
$beige: #dedad1;
$cool: #BDC5D5;
$cooler: #adc6f6;
$back: #F7F8F9;
// Colors

$primary-aqua: #008e97;
$primary-orange: #f58220;
$primary-blue: #005778;
$secondary-aqua: #005f61;
$secondary-orange: #fa4616;
$secondary-blue: #041e42;



// Breakpoints

$tablet-breakpoint: 767px;

$desktop-breakpoint:1279px;

// horizontal margins for mobile and tablet

$mobile-margins: 16px;

$tablet-margins: 32px;